In [1]:
import csv
import os
import sys
import geojson
import requests
from geoalchemy2 import Geometry, WKTElement
from geojson import Feature, Point, FeatureCollection
from geopandas import GeoDataFrame
from sqlalchemy import *
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import json

In [2]:
r = requests.get('https://tor.publicbikesystem.net/ube/gbfs/v1/en/station_information')

In [3]:
bikeshare_stations = pd.DataFrame(json.loads(r.content)['data']['stations'])[['station_id', 'name', 'lat', 'lon']].astype({
    'station_id': 'float64',
})

In [4]:
bikeshare_stations.head()

   station_id                             name        lat        lon
0      7000.0     Fort York  Blvd / Capreol Ct  43.639832 -79.395954
1      7001.0  Lower Jarvis St / The Esplanade  43.647992 -79.370907
2      7002.0       St. George St / Bloor St W  43.667333 -79.399429
3      7003.0         Madison Ave / Bloor St W  43.667158 -79.402761
4      7004.0          University Ave / Elm St  43.656518 -79.389099

In [5]:

# Creating SQLAlchemy's engine to use

engine = create_engine('postgresql://atedeschi:kAa1thmandU@localhost:5432/atedeschi')

In [6]:
engine

Engine(postgresql://atedeschi:***@localhost:5432/atedeschi)

In [7]:
##Method using csv
df = pd.read_csv("bikeshare_stations.csv", delimiter=",")

In [8]:
df.head()

   station_id                             name        lat        lon
0      7000.0     Fort York  Blvd / Capreol Ct  43.639832 -79.395954
1      7001.0  Lower Jarvis St / The Esplanade  43.647992 -79.370907
2      7002.0       St. George St / Bloor St W  43.667333 -79.399429
3      7003.0         Madison Ave / Bloor St W  43.667158 -79.402761
4      7004.0          University Ave / Elm St  43.656518 -79.389099

In [9]:
gdf = GeoDataFrame(
    df.drop(['lon', 'lat'], axis=1),
    crs={'init': 'epsg:4326'},
    geometry=[Point(xy) for xy in zip(df.lon, df.lat)])

def create_wkt_element(geom):
    return WKTElement(geom.wkt, srid = 4326)

In [10]:
gdf.head()

,station_id,name,geometry
0,7000.0,Fort York Blvd / Capreol Ct,POINT (-79.395954 43.639832)
1,7001.0,Lower Jarvis St / The Esplanade,POINT (-79.37090699999999 43.647992)
2,7002.0,St. George St / Bloor St W,POINT (-79.399429 43.667333)
3,7003.0,Madison Ave / Bloor St W,POINT (-79.402761 43.667158)
4,7004.0,University Ave / Elm St,POINT (-79.389099 43.656518)

In [11]:
gdf['geometry'] = gdf['geometry'].apply(create_wkt_element)

In [12]:
 #   if_exists = replace: If table exists, drop it, recreate it, and insert data.
 #   if_exists = fail: If table exists, do nothing.
 #   if_exists = append: If table exists, insert data. Create if does not exist.

In [13]:

gdf.to_sql("stations", engine, if_exists='replace', index=False,
                         dtype={'geometry': Geometry('POINT', 4326)})

SRID 4326 = WGS84 

World Geodetic System. 

![WGS84](images/WGS84.png)

Global Positioning System uses the World Geodetic System (WGS84) as its reference coordinate system.

PostGIS opens up the ability to store your data in a single coordinate system such as WGS84 (SRID 4326), and when you need something like Area, Distance, or Length, you use a function to create that column from your datain a projected coordinate system that will give you a local interpretation of your data in units that you want.

So for example, I could store students and schools in PostGIS both in WGS84/SRID:4326. When I want to calculate the distance between students and the schools they attend, I call a distance function on my geometry column, but also wrap a ST_Transform function around the geometry column first to 'project' the data into State Plane CO Central (SRID: 2877). This gives me a column for the distance of each student to their closest school in feet because SRID:2877 is a projected coordinate system that stores data in Feet.

## Fun fact ! ##

Well-known text (WKT) is a text markup language for representing vector geometry objects on a map.

In [14]:
trips = pd.read_csv("data.csv")

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0,3,4,6,7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [15]:
trips.isnull().sum()
trips[trips.isna().any(axis=1)].head()

,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_id,from_station_name,to_station_id,to_station_name,user_type
465477,trip_id,trip_start_time,trip_stop_time,trip_duration_seconds,from_station_name,to_station_name,user_type,NaN,NaN
465478,1253914,7/1/2017 0:00,7/1/2017 0:15,910,Princess St / Adelaide St E,424 Wellington St W,Member,NaN,NaN
465479,1253915,7/1/2017 0:01,7/1/2017 0:15,837,Fort York Blvd / Capreol Crt,HTO Park (Queens Quay W),Casual,NaN,NaN
465480,1253916,7/1/2017 0:01,7/1/2017 0:14,786,Fort York Blvd / Capreol Crt,HTO Park (Queens Quay W),Casual,NaN,NaN
465481,1253917,7/1/2017 0:01,7/1/2017 0:25,1420,Elizabeth St / Edward St (Bus Terminal),Boston Ave / Queen St E,Casual,NaN,NaN

In [16]:
trips = trips.dropna(how='any') 


trips.head()
trips.to_csv("clean_data.csv", sep=',', mode = 'w', index=False)



trips.to_sql("trips", engine, if_exists='replace', index=False)

In [148]:
con = engine.connect()

In [153]:
# Read

output = pd.read_sql_query("SELECT * FROM neighborhoods ", con)
output.head()

,ogc_fid,area_s_cd,area_name,wkb_geometry
0,1,097,Yonge-St.Clair (97),0103000020E6100000010000005D0000000F15075609D9...
1,2,027,York University Heights (27),0103000020E61000000100000012020000279220A356E0...
2,3,038,Lansing-Westgate (38),0103000020E61000000100000002010000DB9FF4B328DC...
3,4,031,Yorkdale-Glen Park (31),0103000020E610000001000000A9000000A9684FD623DC...
4,5,016,Stonegate-Queensway (16),0103000020E61000000100000000010000969B0E1B87DF...

In [115]:

source_coordinates = '42.50830,18.21231;'
dest_coordinates = '42.50075,18.20971'
url =  'http://router.project-osrm.org/route/v1/driving/'+source_coordinates+dest_coordinates

payload = {"steps":"true","geometries":"geojson"}

response = requests.get(url,params=payload)

data = response.json()
print(data['routes'][0]['geometry'])

{'coordinates': [[42.508283, 18.212261], [42.508531, 18.212181], [42.507387, 18.210687], [42.508725, 18.210051], [42.514162, 18.205787], [42.514618, 18.205315], [42.514809, 18.203213], [42.513298, 18.202395], [42.50931, 18.201545], [42.508044, 18.201316], [42.507846, 18.20135], [42.507732, 18.20127], [42.504765, 18.200629], [42.503025, 18.200869], [42.502659, 18.201216], [42.502518, 18.201579], [42.502665, 18.202078], [42.502681, 18.20258], [42.502102, 18.204686], [42.501946, 18.206796], [42.501778, 18.207196], [42.501401, 18.207708], [42.500591, 18.209646]], 'type': 'LineString'}

Please iterate for all trips