In [164]:
import csv
import os
import sys
import geojson
import requests
from geoalchemy2 import Geometry, WKTElement
from geojson import Feature, Point, FeatureCollection
from geopandas import GeoDataFrame
from sqlalchemy import *
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point
import json
import psycopg2

In [165]:
r = requests.get('https://tor.publicbikesystem.net/ube/gbfs/v1/en/station_information')

In [166]:
bikeshare_stations = pd.DataFrame(json.loads(r.content)['data']['stations'])[['station_id', 'name', 'lat', 'lon']].astype({
    'station_id': 'float64',
})

In [167]:
bikeshare_stations.head()

   station_id                             name        lat        lon
0      7000.0     Fort York  Blvd / Capreol Ct  43.639832 -79.395954
1      7001.0  Lower Jarvis St / The Esplanade  43.647992 -79.370907
2      7002.0       St. George St / Bloor St W  43.667333 -79.399429
3      7003.0         Madison Ave / Bloor St W  43.667158 -79.402761
4      7004.0          University Ave / Elm St  43.656518 -79.389099

In [168]:

# Creating SQLAlchemy's engine to use

engine = create_engine('postgresql://atedeschi:kAa1thmandU@localhost:5432/atedeschi')

In [169]:
engine

Engine(postgresql://atedeschi:***@localhost:5432/atedeschi)

In [170]:
##Method using csv
##df = pd.read_csv("bikeshare_stations.csv", delimiter=",")

df = bikeshare_stations

In [171]:
df.head()

   station_id                             name        lat        lon
0      7000.0     Fort York  Blvd / Capreol Ct  43.639832 -79.395954
1      7001.0  Lower Jarvis St / The Esplanade  43.647992 -79.370907
2      7002.0       St. George St / Bloor St W  43.667333 -79.399429
3      7003.0         Madison Ave / Bloor St W  43.667158 -79.402761
4      7004.0          University Ave / Elm St  43.656518 -79.389099

In [172]:
## geometry 

gdf = GeoDataFrame(
    df.drop(['lon', 'lat'], axis=1),
    crs={'init': 'epsg:4326'},
    geometry=[Point(xy) for xy in zip(df.lon, df.lat)])

def create_wkt_element(geom):
    return WKTElement(geom.wkt, srid = 4326)

In [173]:
gdf.head()

   station_id                             name                      geometry
0      7000.0     Fort York  Blvd / Capreol Ct  POINT (-79.395954 43.639832)
1      7001.0  Lower Jarvis St / The Esplanade  POINT (-79.370907 43.647992)
2      7002.0       St. George St / Bloor St W  POINT (-79.399429 43.667333)
3      7003.0         Madison Ave / Bloor St W  POINT (-79.402761 43.667158)
4      7004.0          University Ave / Elm St  POINT (-79.389099 43.656518)

In [174]:
gdf['geometry'] = gdf['geometry'].apply(create_wkt_element)

In [175]:
 #   if_exists = replace: If table exists, drop it, recreate it, and insert data.
 #   if_exists = fail: If table exists, do nothing.
 #   if_exists = append: If table exists, insert data. Create if does not exist.

In [176]:

gdf.to_sql("stations", engine, if_exists='replace', index=False,
                         dtype={'geometry': Geometry('POINT', 4326)})

SRID 4326 = WGS84 

World Geodetic System. 

![WGS84](images/WGS84.png)

Global Positioning System uses the World Geodetic System (WGS84) as its reference coordinate system.

PostGIS opens up the ability to store your data in a single coordinate system such as WGS84 (SRID 4326), and when you need something like Area, Distance, or Length, you use a function to create that column from your datain a projected coordinate system that will give you a local interpretation of your data in units that you want.

So for example, I could store students and schools in PostGIS both in WGS84/SRID:4326. When I want to calculate the distance between students and the schools they attend, I call a distance function on my geometry column, but also wrap a ST_Transform function around the geometry column first to 'project' the data into State Plane CO Central (SRID: 2877). This gives me a column for the distance of each student to their closest school in feet because SRID:2877 is a projected coordinate system that stores data in Feet.

## Fun fact ! ##

Well-known text (WKT) is a text markup language for representing vector geometry objects on a map.

In [371]:
# Q1 and Q2 = hours and minutes
#day/month/year

#Q3 month/day/year hours and minutes
#Q4 month/day/year hours minutes and seconds

q1 = pd.read_csv("ridership1.csv")
q2 = pd.read_csv("ridership2.csv")
q3 = pd.read_csv("ridership3.csv")
q4 = pd.read_csv("ridership4.csv")



sids = pd.concat([q1,q2])

In [372]:

sids = sids.drop(['from_station_id', 'from_station_name', 'trip_duration_seconds', 'trip_start_time', \
'trip_stop_time', 'user_type', 'trip_id'], axis  =1 )

In [373]:
sids = sids.drop_duplicates(keep = 'last')

In [374]:
sids.columns = ['id', 'station_name']

In [375]:
q1.drop(['from_station_id','to_station_id'], axis=1, inplace =True)
q2.drop(['from_station_id','to_station_id'], axis=1, inplace =True)

In [376]:
a = pd.concat([q1,q2])
a = a.dropna(how='any')

In [377]:
start_times = a['trip_start_time'] 
a['trip_start_time'] = [datetime.strptime(time, "%d/%m/%Y %H:%M") for time in start_times]

stop_times = a['trip_stop_time'] 
a['trip_stop_time'] = [datetime.strptime(time, "%d/%m/%Y %H:%M") for time in stop_times]

In [378]:
start_times = q3['trip_start_time'] 
q3['trip_start_time'] = [datetime.strptime(time, "%m/%d/%Y %H:%M") for time in start_times]

stop_times = q3['trip_stop_time'] 
q3['trip_stop_time'] = [datetime.strptime(time, "%m/%d/%Y %H:%M") for time in stop_times]

b = q3
b = b.dropna(how='any')

In [330]:
q4.dtypes

trip_id                   int64
trip_start_time          object
trip_stop_time           object
trip_duration_seconds     int64
from_station_name        object
to_station_name          object
user_type                object
dtype: object

In [379]:
q4 = q4.dropna(how='any') 

start_times = q4['trip_start_time'] 
q4['trip_start_time'] = [datetime.strptime(time, "%m/%d/%y %H:%M:%S") for time in start_times]

stop_times = q4['trip_stop_time'] 
q4['trip_stop_time'] = [datetime.strptime(time, "%m/%d/%y %H:%M:%S") for time in stop_times]


c = q4

In [380]:

ct = pd.concat([a,b,c])

In [393]:
#con = engine.connect()
sids = pd.read_sql_query("SELECT station_id, ST_Y(geometry) as lat, \
                         ST_X(geometry) as lon FROM stations ", con)
#sids.head()

In [394]:
sids.head()

   station_id        lat        lon
0      7000.0  43.639832 -79.395954
1      7001.0  43.647992 -79.370907
2      7002.0  43.667333 -79.399429
3      7003.0  43.667158 -79.402761
4      7004.0  43.656518 -79.389099

In [381]:
ct = pd.merge(ct, sids, left_on = 'from_station_name', right_on = 'station_name')
ct.drop(['station_name'], inplace = True, axis = 1)
ct = ct.rename(columns = {'id': 'from_station_id'})

In [382]:
ct = pd.merge(ct, sids, left_on = 'to_station_name', right_on = 'station_name')
ct.drop(['station_name'], inplace = True, axis = 1)
ct = ct.rename(columns = {'id': 'to_station_id'})

In [392]:
ct.isna().sum()

trip_id                  0
trip_start_time          0
trip_stop_time           0
trip_duration_seconds    0
from_station_name        0
to_station_name          0
user_type                0
from_station_id          0
to_station_id            0
dtype: int64

In [400]:
ct = pd.read_csv('clean_trips.csv')

In [401]:

ct = pd.read_csv('clean_trips.csv')
ct.groupby(['from_station_id', 'to_station_id']).size().reset_index().rename(columns={0: 'count'})

       from_station_id  to_station_id  count
0                 7000           7000    951
1                 7000           7001     93
2                 7000           7002     20
3                 7000           7003     20
4                 7000           7004     80
...                ...            ...    ...
33496             7216           7208      4
33497             7216           7209     11
33498             7216           7210      1
33499             7216           7211      9
33500             7216           7216     95

[33501 rows x 3 columns]

In [444]:
#con = engine.connect()
sids = pd.read_sql_query("SELECT station_id, ST_Y(geometry) as lat, \
                         ST_X(geometry) as lon FROM stations ", con)

sids['station_id'] = sids['station_id'].astype('int32')

sids.head()

sids.to_csv("sids.csv")

In [445]:
ct = pd.read_csv('clean_trips.csv')
ct = ct.groupby(['from_station_id', 'to_station_id']).size().reset_index().rename(columns={0: 'count'})

In [446]:
pairs = pd.merge(ct, sids, left_on = 'from_station_id', right_on = 'station_id')

In [447]:
pairs.head()

   from_station_id  to_station_id  count  station_id        lat        lon
0             7000           7000    951        7000  43.639832 -79.395954
1             7000           7001     93        7000  43.639832 -79.395954
2             7000           7002     20        7000  43.639832 -79.395954
3             7000           7003     20        7000  43.639832 -79.395954
4             7000           7004     80        7000  43.639832 -79.395954

In [448]:
pairs = pairs.rename(columns = {'lat': 'from_station_lat', 'lon': 'from_station_lon'})

In [449]:
pairs = pd.merge(pairs, sids, left_on = 'to_station_id', right_on = 'station_id')

In [450]:
pairs = pairs.rename(columns = {'lat': 'to_station_lat', 'lon': 'to_station_lon'})

In [451]:
pairs.drop(['station_id_x', 'station_id_y'], axis = 1, inplace=True)

In [453]:
pairs.to_csv("pairs.csv")

In [402]:

f = []


source_coordinates = '42.50830,18.21231;'
dest_coordinates = '42.50075,18.20971'

url =  'http://router.project-osrm.org/route/v1/driving/'+source_coordinates+dest_coordinates

payload = {"steps":"true","geometries":"geojson"}

response = requests.get(url,params=payload)

data = response.json()
print(data['routes'][0]['geometry'])


f.append(data['routes'][0]['geometry'])

{'coordinates': [[42.508283, 18.212261], [42.508531, 18.212181], [42.507387, 18.210687], [42.508725, 18.210051], [42.514162, 18.205787], [42.514618, 18.205315], [42.514809, 18.203213], [42.513298, 18.202395], [42.50931, 18.201545], [42.508044, 18.201316], [42.507846, 18.20135], [42.507732, 18.20127], [42.504765, 18.200629], [42.503025, 18.200869], [42.502659, 18.201216], [42.502518, 18.201579], [42.502665, 18.202078], [42.502681, 18.20258], [42.502102, 18.204686], [42.501946, 18.206796], [42.501778, 18.207196], [42.501401, 18.207708], [42.500591, 18.209646]], 'type': 'LineString'}

Please iterate for all trips

In [403]:

f.append(data['routes'][0]['geometry'])

In [404]:

f.append(data['routes'][0]['geometry'])

[{'coordinates': [[42.508283, 18.212261],
   [42.508531, 18.212181],
   [42.507387, 18.210687],
   [42.508725, 18.210051],
   [42.514162, 18.205787],
   [42.514618, 18.205315],
   [42.514809, 18.203213],
   [42.513298, 18.202395],
   [42.50931, 18.201545],
   [42.508044, 18.201316],
   [42.507846, 18.20135],
   [42.507732, 18.20127],
   [42.504765, 18.200629],
   [42.503025, 18.200869],
   [42.502659, 18.201216],
   [42.502518, 18.201579],
   [42.502665, 18.202078],
   [42.502681, 18.20258],
   [42.502102, 18.204686],
   [42.501946, 18.206796],
   [42.501778, 18.207196],
   [42.501401, 18.207708],
   [42.500591, 18.209646]],
  'type': 'LineString'},
 {'coordinates': [[42.508283, 18.212261],
   [42.508531, 18.212181],
   [42.507387, 18.210687],
   [42.508725, 18.210051],
   [42.514162, 18.205787],
   [42.514618, 18.205315],
   [42.514809, 18.203213],
   [42.513298, 18.202395],
   [42.50931, 18.201545],
   [42.508044, 18.201316],
   [42.507846, 18.20135],
   [42.507732, 18.20127],
   [42.504765, 18.200629],
   [42.503025, 18.200869],
   [42.502659, 18.201216],
   [42.502518, 18.201579],
   [42.502665, 18.202078],
   [42.502681, 18.20258],
   [42.502102, 18.204686],
   [42.501946, 18.206796],
   [42.501778, 18.207196],
   [42.501401, 18.207708],
   [42.500591, 18.209646]],
  'type': 'LineString'},
 {'coordinates': [[42.508283, 18.212261],
   [42.508531, 18.212181],
   [42.507387, 18.210687],
   [42.508725, 18.210051],
   [42.514162, 18.205787],
   [42.514618, 18.205315],
   [42.514809, 18.203213],
   [42.513298, 18.202395],
   [42.50931, 18.201545],
   [42.508044, 18.201316],
   [42.507846, 18.20135],
   [42.507732, 18.20127],
   [42.504765, 18.200629],
   [42.503025, 18.200869],
   [42.502659, 18.201216],
   [42.502518, 18.201579],
   [42.502665, 18.202078],
   [42.502681, 18.20258],
   [42.502102, 18.204686],
   [42.501946, 18.206796],
   [42.501778, 18.207196],
   [42.501401, 18.207708],
   [42.500591, 18.209646]],
  'type': 'LineString'}]

In [407]:

feature_collection = FeatureCollection(f)


with open('paths.geojson', 'w') as f:
  f.write(geojson.dumps(feature_collection))