In [2]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt  
import seaborn as seabornInstance 
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

In [3]:
dataset = pd.read_csv('data.csv')

In [4]:
dataset.shape

(10000, 25)

In [5]:
dataset.head(
)

,vehicle_type,appname,device_os,rowkey,datestr,id,rowdiff,diff_mins,user_longitude,user_latitude,...,last_incoming_communication_at,prev_vehicle_lng,prev_vehicle_lat,post_vehicle_lng,post_vehicle_lat,vehicle_lng,vehicle_lat,distancem,trip_uuid,task_uuid
0,Scooter,Helix,ios,906,2019-09-04,c2d9f54e3a084a79,1,4,-80.19312,25.75829,...,2019-09-04 22:35:51.000,-80.193698,25.758545,-80.193698,25.758545,-80.193698,25.758545,64.46,\N,\N
1,Scooter,Helix,ios,14031,2019-09-04,c2d9f54e3a084a79,1,4,-80.19387,25.76550,...,2019-09-04 23:51:00.000,-80.193810,25.765441,-80.193810,25.765441,-80.193810,25.765441,8.90,\N,\N
2,Scooter,Helix,ios,1107,2019-09-18,18612f7f7df48c92,1,6,-80.19211,25.76887,...,2019-09-18 16:56:33.000,-80.192591,25.768826,-80.192591,25.768826,-80.192591,25.768826,48.41,\N,\N
3,Scooter,Helix,ios,45630,2019-09-18,18612f7f7df48c92,1,6,-80.19227,25.76867,...,2019-09-18 16:56:33.000,-80.192591,25.768826,-80.192591,25.768826,-80.192591,25.768826,36.53,\N,\N
4,Scooter,Helix,ios,1025,2019-09-18,18612f7f7df48c92,1,8,-80.19426,25.76180,...,2019-09-18 19:43:24.000,-80.194368,25.761536,-80.194368,25.761536,-80.194368,25.761536,31.28,\N,\N

In [7]:
dataset = dataset[dataset.columns[dataset.columns.isin(['user_longitude', 'user_latitude', 'vehicle_lng', 'vehicle_lat'])]]

In [8]:
dataset.head()

   user_longitude  user_latitude  vehicle_lng  vehicle_lat
0       -80.19312       25.75829   -80.193698    25.758545
1       -80.19387       25.76550   -80.193810    25.765441
2       -80.19211       25.76887   -80.192591    25.768826
3       -80.19227       25.76867   -80.192591    25.768826
4       -80.19426       25.76180   -80.194368    25.761536

In [20]:
actual = dataset[dataset.columns[dataset.columns.isin(['vehicle_lng', 'vehicle_lat'])]]

In [21]:
expected = dataset[dataset.columns[dataset.columns.isin(['user_longitude', 'user_latitude'])]]

In [23]:

actual.loc[:, 'real'] = 0
expected.loc[:, 'real'] = 1

In [25]:
actual.head()

   vehicle_lng  vehicle_lat  real
0   -80.193698    25.758545     0
1   -80.193810    25.765441     0
2   -80.192591    25.768826     0
3   -80.192591    25.768826     0
4   -80.194368    25.761536     0

In [28]:
actual.columns = ['lng', 'lat', 'real']
expected.columns = ['lng', 'lat', 'real']

In [30]:
dataset = pd.concat([actual, expected])

In [32]:
dataset.head()

         lng        lat  real
0 -80.193698  25.758545     0
1 -80.193810  25.765441     0
2 -80.192591  25.768826     0
3 -80.192591  25.768826     0
4 -80.194368  25.761536     0

In [33]:
dataset.shape

(20000, 3)